<{{container}} class="custom-byline-meta">
    <span class="byline-meta-date-helper">Last updated on </span>
    <time class="byline-meta-date updated-at" datetime="{{date updated_at format="YYYY-MM-DD"}}">
        {{date updated_at format="D MMM YYYY"}}</time>
    <span class="byline-reading-time">
        <span class="bull">&bull;</span>
        <span class="reading-time">{{reading_time}}</span>
    </span>
</{{container}}>
