<article class="post-card in-pagination {{post_class}}" >
    <div class="post-card-content">

        <a class="post-card-content-link" href="{{url}}">

            <header class="post-card-header">
                {{#if primary_tag}}
                    <span class="post-card-tags">{{primary_tag.name}}</span>
                {{/if}}
                <h2 class="post-card-title">{{title}}</h2>
            </header>

            <section class="post-card-excerpt">
                <p>{{excerpt words="33"}}</p>
            </section>

        </a>

        <footer class="post-card-meta">

            <ul class="author-list">
            {{#foreach authors}}
                <li class="author-list-item">

                    <div class="author-name-tooltip">
                        {{name}}
                    </div>

                    {{#if profile_image}}
                        <a href="{{url}}" class="static-avatar">
                            <img class="author-profile-image" src="{{img_url profile_image size="xs"}}" alt="{{name}}" />
                        </a>
                    {{else}}
                        <a href="{{url}}" class="static-avatar author-profile-image" title="{{name}}"  aria-label="{{name}}">{{> "icons/avatar"}}</a>
                    {{/if}}
                </li>
            {{/foreach}}
            </ul>

            <span class="reading-time">{{reading_time}}</span>

        </footer>

    </div>{{!--/.post-card-content--}}

</article>
